<a href="https://colab.research.google.com/github/huiseung02/huiseung_DTSC3020_Fall2025/blob/main/assignment2_hk1068.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# 1
fruits = ["watermelon","apple","mango"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['watermelon', 'apple', 'mango']
watermelon
apple
mango

In [30]:
#2
names = ["Kim","Lee","Kang","Park"]
names[0] = "Nam"
print(names)

['Nam', 'Lee', 'Kang', 'Park']

In [31]:
#3
vehicles = ["car","bus","bike","subway","train"]
vehicles.append("motorcycle")
print(vehicles)

['car', 'bus', 'bike', 'subway', 'train', 'motorcycle']

In [32]:
#4
foods = ["pasta","pizza","hamburger","chicken","salad","rice"]
foods.remove("pizza")
print(foods)

['pasta', 'hamburger', 'chicken', 'salad', 'rice']

In [13]:
#5
cities = ["NewYork","Paris","Seoul","London"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

['London', 'NewYork', 'Paris', 'Seoul']
['Seoul', 'Paris', 'NewYork', 'London']

In [14]:
#6
animals = ["lion","tiger","rabbit"]
for animal in animals:
  print(animal)

lion
tiger
rabbit

In [26]:
#7
numbers = [1,2,3,4,5]
print(numbers)

multiples = []
for k in numbers:
  multiple = k*2
  multiples.append(multiple)

print(multiples)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [24]:
#8
friends = ["Lee","Kim","Noh","Park","Nam","Joo"]
print("first three friends:",friends[0:3])
print("last three friends:",friends[3:])

first three friends: ['Lee', 'Kim', 'Noh']
last three friends: ['Park', 'Nam', 'Joo']

In [27]:
#9
nums = list(range(1,11))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
#10
comp = [k**2 for k in range(1,6)]
print(comp)

[1, 4, 9, 16, 25]